/ProgramacaoDesktop/nbproject/private/
/pooes/nbproject/private/
/pooes/build/
/pooes/dist/
/Conversor5/nbproject/private/
/Conversor5/build/
/Aluno/nbproject/private/
/Aluno/build/
/Ola/nbproject/private/
/Ola/build/
/Inteiro/nbproject/private/
/Inteiro/build/
/Aluno2/nbproject/private/
/Aluno2/build/
/TesteSoftwate/nbproject/private/
/TesteSoftwate/build/
/SegurancaAtividade1/nbproject/private/
/SegurancaAtividade1/build/
/FinanciamentoSimplificado/nbproject/private/
/FinanciamentoSimplificado/build/
/SegurancaAtividade1/dist/
/EditorDeTexto/nbproject/private/
/EditorDeTexto/build/